<launch>
  <arg name="mouse" default="true" />
  <arg name="joydev" default="/dev/input/js0" />
  <arg name="config" default="f710" />

  <group if="$(arg mouse)">
    <include file="$(find raspimouse_ros_2)/launch/raspimouse.launch" />
  </group>

  <node name="joy_core" pkg="joy" type="joy_node" required="true">
    <param name="dev" type="string" value="$(arg joydev)" />
  </node>

  <node pkg="raspimouse_ros_examples" name="joystick_control" type="joystick_control.py" required="true" output="screen">
    <rosparam command="load" file="$(find raspimouse_ros_examples)/config/joy_$(arg config).yml" />
  </node>
</launch>
